.icon_avatar{
  border-radius: 50%;
  margin-right: 10px;
  height: 50px;
  width: 50px;

}
.image_text{
  display: flex;
  align-items:center;
}

.clickable {
  cursor: pointer;
}

.groupPending{
  color: orange;
  font-weight: 600;
}

.groupAccepted{
  color: green;
  font-weight: 600;
}

.groupRejected{
  color: red;
  font-weight: 600;
}
