<div class="card">
  <div class="card-body p-2">
    <h1 class="font-italic">{{ subject.subject }}</h1>
    <div class="image_text">
      <img class="icon_avatar"
           src="https://ui-avatars.com/api/?name={{supervisor.firstName}}+{{supervisor.lastName}}&background=random"
           alt="Avatar">
      <p class="card-text"><small class="text-muted"><span
        style="">Created by : Pr.{{supervisor.firstName }} {{ supervisor.lastName}}</span></small>
      </p>
    </div>
    <p class="jasmine-description">{{ subject.description }}</p>
    <p class="jasmine-description">Number of student in group: {{ subject.groupNumber }}</p>
  </div>
</div>
<div class="d-flex flex-wrap mt-5" *ngIf="!this.tokenStorageService.hasRole('SUPERVISOR')">
  <div *ngIf="tokenStorageService.hasRole('STUDENT')" class="card col-4 clickable" (click)="createGroup()">
    create new group
  </div>
  <div class="card col-4 clickable p-3" *ngFor="
          let group of groups
          let i = index
        ">
    <div *ngFor="let student of group.studentsObjects" (click)="joinGroup(group.id)">
      <div class="image_text">
        <img class="icon_avatar"
             src="https://ui-avatars.com/api/?name={{student.firstName}}+{{student.lastName}}&background=random"
             alt="Avatar">
        <p class="card-text"><small class="text-muted"><span
          style="">{{student.firstName }} {{ student.lastName}}</span></small>
        </p>
      </div>
    </div>
    <div *ngIf="group.driveUrlPublished">
      <a href="{{group.driveUrl}}" target="_blank" >{{group.driveUrl}}</a>
    </div>
  </div>
</div>

<div class="d-flex flex-wrap mt-5 "
     *ngIf="this.tokenStorageService.hasRole('SUPERVISOR') && this.tokenStorageService.getUser().id == supervisor.id ">
  <div class="card col-4 clickable p-3" *ngFor="
          let group of groupsCompleted
          let i = index
        ">
    <a href="/groupCard/{{group.id}}" style="  color: inherit;text-decoration: inherit;"
       routerLink="/groupCard/{{group.id}}">

      <div *ngFor="let student of group.studentsObjects">
        <div class="image_text">
          <img class="icon_avatar"
               src="https://ui-avatars.com/api/?name={{student.firstName}}+{{student.lastName}}&background=random"
               alt="Avatar">
          <p class="card-text"><small class="text-muted"><span
            style="">{{student.firstName }} {{ student.lastName}}</span></small>
          </p>
        </div>
      </div>
      <div class="groupPending"*ngIf="group.studentGroupState === 'PENDING'">PENDING</div>
      <div class="groupAccepted" *ngIf="group.studentGroupState === 'ACCEPTED'">ACCEPTED</div>
      <div class="groupRejected" *ngIf="group.studentGroupState === 'REJECTED'">REJECTED</div>

    </a>
      <div *ngIf="group.driveUrlPublished">
        <a href="{{group.driveUrl}}" target="_blank" >{{group.driveUrl}}</a>
      </div>
      <div class="row d-flex flex-row"
           *ngIf="!(group.studentGroupState === 'ACCEPTED' || group.studentGroupState === 'REJECTED')">
        <button class="btn btn-success w-50" (click)="acceptGroup(group.id)">Accept</button>
        <button class="btn btn-danger w-50" (click)="refuseGroup(group.id)">Refuse</button>
      </div>

  </div>
</div>

