<div>
  {{this.subject.subject}} {{group.id}}
</div>

<div>
  <p *ngFor="let student of group.studentsObjects">{{student.firstName}}</p>
</div>

<div>
  {{group.driveUrl}}
  <form (ngSubmit)="onSubmitDriveUrl()">
    <input type="text" name="driveUrl" [(ngModel)]="form.driveUrl">
  </form>
</div>
<h2>Rendez vous</h2>

<div>
  <form (ngSubmit)="onSubmitRendezvousRequest()">
    <textarea maxlength="255" name="rendezvous" [(ngModel)]="form.rendezvousRequest"></textarea>
    <button>Request</button>
  </form>
</div>

<div>
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>Request</th>
      <th>Rendezvous</th>
      <th>Rendezvous State</th>
      <th>Declining Message</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rendezvous of rendezvousList">
      <td>{{rendezvous.id}} {{ rendezvous.request }}</td>
      <td>{{ rendezvous.rendezvous }}</td>
      <td>{{ rendezvous.rendezvousState }}</td>
      <td><input [disabled]="rendezvous.rendezvousState !== 'WAITING_FOR_VALIDATION'" type="text" #decliningMessage [value]="rendezvous.decliningMessage"/><span *ngIf="rendezvous.rendezvousState === 'REJECTED'"></span></td>
      <td><button [disabled]="rendezvous.rendezvousState !== 'WAITING_FOR_VALIDATION'" (click)="acceptRendezvous(rendezvous.id, group.id)">Accept</button><button [disabled]="rendezvous.rendezvousState !== 'WAITING_FOR_VALIDATION'" (click)="rejectRendezvous(decliningMessage, rendezvous.id, group.id)">Refuse</button></td>
    </tr>
    </tbody>
  </table>
</div>
