<h1>Group Id : {{group.id}}</h1>
<div *ngFor="let student of group.studentsObjects">
  <div class="image_text">
    <img class="icon_avatar"
         src="https://ui-avatars.com/api/?name={{student.firstName}}+{{student.lastName}}&background=random"
         alt="Avatar">
    <p class="card-text"><small class="text-muted"><span
      style="">{{student.firstName }} {{ student.lastName}}</span></small>
    </p>
  </div>
</div>
<div>
  {{group.driveUrl}}
  <form (ngSubmit)="onSubmitPublishUrl(group.id)">
    <button *ngIf="tokenStorageService.hasRole('SUPERVISOR') && this.group.driveUrl">Publish Link</button>
  </form>
</div>
<div>
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>Request</th>
      <th>Rendezvous</th>
      <th>Rendezvous State</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rendezvous of rendezvousList">
      <td>{{ rendezvous.request}}</td>
      <td><div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" inline="true">
        <input type="datetime-local" #date>
      </div></td>
      <td>{{ rendezvous.rendezvousState}}</td>
      <td><button class="btn" (click)="sendDateRendezvous(date, rendezvous.id, group.id)">send response</button></td>
    </tr>
    </tbody>
  </table>
</div>

