<h2 class="font-italic">Group Members: </h2>
<div *ngFor="let student of group.studentsObjects">
  <div class="image_text">
    <img class="icon_avatar"
         src="https://ui-avatars.com/api/?name={{student.firstName}}+{{student.lastName}}&background=random"
         alt="Avatar">
    <p class="card-text"><small class="text-muted"><span
      style="">{{student.firstName }} {{ student.lastName}}</span></small>
    </p>
  </div>
</div>
<br>
<div>
  <div>
    <label>Google Drive Link</label>
    <div class="mb-3 d-flex">
      <div class=" col-9 card-header"><a href="{{group.driveUrl}}" target="_blank">{{group.driveUrl}}</a></div>
      <button class="submitDriveBtn col-2 btn btn-outline-success" (click)="onSubmitPublishUrl(group.id)"
              *ngIf="tokenStorageService.hasRole('SUPERVISOR') && this.group.driveUrl">Publish Link
      </button>
    </div>
  </div>
  <div>
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th class="col-4">Request</th>
        <th class="col-4">Rendezvous</th>
        <th class="col-2">Rendezvous State</th>
        <th class="col-2">Declining Message</th>
        <th class="col-4">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rendezvous of rendezvousList">
        <td>{{ rendezvous.request}}</td>
        <td>
          <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" inline="true">
            <input type="datetime-local" #date [disabled]="rendezvous.rendezvousState !== 'PENDING'">
          </div>
        </td>
        <td>{{ rendezvous.rendezvousState}}</td>
        <td>{{ rendezvous.decliningMessage}}</td>
        <td>
          <div class="d-flex justify-content-center"><button class="btn btn-info" (click)="sendDateRendezvous(date, rendezvous.id, group.id)" [disabled]="rendezvous.rendezvousState !== 'PENDING'">send response</button></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
