.icon_avatar{
  border-radius: 50%;
  margin-right: 10px;
  height: 50px;
  width: 50px;

}
.image_text{
  display: flex;
  align-items:center;
}

.submitDriveBtn{
  margin-left: auto;
}

.table th, .table td {
  vertical-align: middle;
}
