.items-per-page {
  width: 75px;
}

.icon_avatar{
  border-radius: 50%;
  margin-right: 10px;
  height: 50px;
  width: 50px;

}
.image_text{
  display: flex;
  align-items:center;
}

a.card {
  color: inherit;
  text-decoration: inherit;
}
