<div class="input-group mb-3 mt-3">
  <input
    type="text"
    class="form-control"
    placeholder="Search by title"
    #searchInput
  />
  <div class="input-group-append">
    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="setKeyword(searchInput)"
    >
      Search
    </button>
  </div>
</div>
<div class="d-flex">
  <select class="custom-select" (change)="universityChanged($event)">
    <option [value]="">Select University</option>
    <option [value]="university.id" *ngFor="let university of universities">{{university.name}}</option>
  </select>
  <select class="custom-select" (change)="establishmentChanged($event)">
    <option [value]="">Select Establishment</option>
    <option [value]="establishment.id" *ngFor="let establishment of establishments">{{establishment.name}}</option>
  </select>
  <select class="custom-select" (change)="departmentChanged($event)">
    <option [value]="">Select Department</option>
    <option [value]="department.id" *ngFor="let department of departments">{{department.name}}</option>
  </select>
</div>

<h4>Subject List</h4>

<div class="mt-3 d-flex align-items-center">
  Items per Page:
  <div class="items-per-page">
    <select class="custom-select" (change)="handlePageSizeChange($event)">
      <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    [responsive]=true
    (pageChange)="handlePageChange($event)"
  ></pagination-controls>
</div>
<div>
  <div>
    <a class="d-flex flex-wrap mt-5" href="/subjectCard" style="  color: inherit;text-decoration: inherit;" routerLink="/subjectCard"  >
      <div class="card col-4"  *ngFor="
          let subject of subjects | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        ">
        <div class="card-body">
          <h5 class="card-title">{{subject.subject}}</h5>
          <p class="card-text">{{subject.description}}</p>
          <div class="image_text">
          <img class="icon_avatar" src="https://ui-avatars.com/api/?name={{subject.supervisorObject.firstName}}+{{subject.supervisorObject.lastName}}&background=random" alt="Avatar">
          <p class="card-text"><small class="text-muted"><span style="">Pr.{{subject.supervisorObject.firstName }} {{ subject.supervisorObject.lastName}}</span></small></p>
          </div>
          <p class="card-text"><strong>Number of groupes  : {{subject.groupNumber}}</strong></p>
        </div>
      </div>
    </a>
  </div>
</div>
